<html>
<head>
	<style>
    button{
        width: 200px;
        height: 40px;
        margin-bottom:10px;
    }
	</style>
	<title>Synched Counter Demo</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
    
$(document).ready(function (){
    // this triggers the connection event in our server!
    var socket = io.connect();
    // we'll write all the socket stuff after the above line!
   
    $('#add').click(function(event) {
        socket.emit('button_click', {});
        event.preventDefault();
    });

    $('#reset').click(function(event) {
        socket.emit('button_reset', {});
        event.preventDefault();
    });

    socket.on('update_counter', function (data){ 
    $('h2').html("" + data.counter);
    console.log(data.counter);      
       });
    socket.emit('new_view', {});

})
    </script>
</head>
<body>
    <h2></h2>
    <button id='add'>PUSH ME</button><br>
    <button id='reset' style='background-color: red'>RESET</button>

</body>
</html>